*{
    margin: 0;
    padding: 0;
}

:root{
    --page-bg: hsl(200 100 90);

    --create-bar-bg-color: hsl(0 0 95);
    --create-bar-bg-hover: hsl(0 0 100);
    --create-bar-border-color: hsl(0 0 80);

    --theme-bg-light: hsl(0 0 95);
    --theme-border-light: hsl(0 0 80);
    --theme-bg: hsl(0 0 15);
    --theme-border: hsl(0 0 20);

    --task-list-bg-color: hsl(0 0 95);
    --task-list-border-color: hsl(0 0 80);
    --drop-shadow: hsl(0 0 50);
    
    --clear-bg: hsl(10 75 40);
    --clear-bg-light: hsl(10 75 60);
    --clear-color: hsl(0 0 100);
    --clear-border-color: hsl(10 75 30);

    --color: hsl(0 0 10);

    color: var(--color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark{
    --page-bg: hsl(200 100 15);

    --create-bar-bg-color: hsl(0 0 15);
    --create-bar-bg-hover: hsl(0 0 25);
    --create-bar-border-color: hsl(0 0 20);

    --theme-bg-light: hsl(0 0 15);
    --theme-border-light: hsl(0 0 20);
    --theme-bg: hsl(0 0 95);
    --theme-border: hsl(0 0 80);

    --task-list-bg-color: hsl(0 0 15);
    --task-list-border-color: hsl(0 0 20);
    --drop-shadow: hsl(0 0 0);

    --color: hsl(0 0 90);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--page-bg);
}

#theme{
    position: absolute;
    top: 0;
    left: 0;

    padding: 5px;

    background-color: var(--theme-bg-light);
    border: 2px solid var(--theme-border-light);
    border-radius: 4px;
}

#theme:hover{
    cursor: pointer;
    background-color: var(--theme-bg);
    border: 2px solid var(--theme-border);
    transition: filter 0.2s ease;
}

#content{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: start;
    margin-top: 20px;
}

#create-bar{
    display: flex;
    align-items: center;
    
    width: 80dvw;
    height: 50px;

    margin: 30px 0;

    background-color: var(--create-bar-bg-color);
    border: 2px solid var(--create-bar-border-color);
    border-radius: 10px;

    box-shadow: 8px 8px 4px var(--drop-shadow);
}

#create-task{
    background: none;
    color: var(--color);
    flex: 1;
    border: none;
    height: 100%;

    border-radius: 10px;
    padding: 0 10px;
    font-size: 1rem;
}

#create-task:hover{
    background-color: var(--create-bar-bg-hover);
}

#create-task:focus{
    background-color: var(--create-bar-bg-hover);
    outline: 2px solid var(--task-list-drop-shadow);
}

#create-bar > span{
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#task-list{
    display: flex;

    width: 80dvw;
    height: 500px;

    flex-direction: column;
    gap: 5px;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--task-list-bg-color);
    border: 2px solid var(--task-list-border-color);
    border-radius: 10px;
    box-shadow: 8px 8px 4px var(--drop-shadow);
}

#task-list::-webkit-scrollbar{
    border-radius: 10px;
    background-color: hsl(0 0 80);
    width: 15px;
}

#task-list::-webkit-scrollbar-thumb{
    background-color: rgb(181, 181, 181);
    border-radius: 10px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: auto;
    word-wrap: break-word;

    border-bottom: 1px solid var(--task-list-border-color);
    padding: 5px 10px;

    font-size: 0.75rem;
    color: var(--color);

    text-align: justify;
}

.task > span{
    max-width: 90%;
}

.task > button{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 100%;

    padding-right: 10px;

    background: none;
    border: none;
}

#clear{
    cursor: pointer;

    display: block;
    
    text-align: center;
    font-size: 1rem;
    
    margin-top: 12px;
    
    width: 30dvw;
    height: 5dvh;

    background-color: var(--clear-bg);
    color: var(--clear-color);

    border: 2px solid var(--clear-border-color);
    border-radius: 10px;
}

#clear:hover{
    background-color: var(--clear-bg-light);
    transition: background-color 0.2s ease;
}

#clear:not(:hover){
    transition: background-color 0.2s ease;
}